REGISTRY_HOST=ghcr.io/intersectmbo
GOVTOOL_TAG=f73bd80b898dd0b4d60f99d6784fd89a6d3a6741
APP_ENV=test
BASE_DOMAIN=mainnet.gov.tools
CARDANO_NETWORK_TYPE=testnet
SENTRY_DSN_FRONTEND=https://69300ede4a476619986b4f6c4f3193d4@o4507027845021696.ingest.us.sentry.io/4507101527277568
USERSNAP_SPACE_API_KEY=
GTM_ID=
PDF_API_URL=https://pdf.mainnet.gov.tools/
OUTCOMES_API_URL=https://outcomes.mainnet.gov.tools/
IPFS_GATEWAY=https://ipfs.io/ipfs
IPFS_PROJECT_ID=dummy
DBSYNC_POSTGRES_HOST=172.31.16.31
DBSYNC_DATABASE=dbsync_mainnet
DBSYNC_POSTGRES_USER=
DBSYNC_POSTGRES_PASSWORD=
DBSYNC_POSTGRES_PORT=5432
SENTRY_DSN_BACKEND=https://68cc7bc0ab46b006ee7741f39a149ca2@o4507027845021696.ingest.us.sentry.io/4507457717207040
PINATA_API_JWT=
PROPOSAL_POSTGRES_DATABASE=proposal_pillar
PROPOSAL_APP_KEYS=
PROPOSAL_API_TOKEN_SALT=
PROPOSAL_ADMIN_JWT_SECRET=
PROPOSAL_TRANSFER_TOKEN_SALT=
PROPOSAL_JWT_SECRET=
PROPOSAL_SENTRY_DSN=
PROPOSAL_AWS_SES_KEY=
PROPOSAL_AWS_SES_SECRET=
PROPOSAL_AWS_SES_ENDPOINT=
PROPOSAL_AWS_SES_FROM=
PROPOSAL_AWS_SES_REPLYTO=
PROPOSAL_REFRESH_SECRET=
PROPOSAL_REFRESH_TOKEN_EXPIRES=30d
PROPOSAL_JWT_SECRET_EXPIRES=15m
PROPOSAL_POSTGRES_PASSWORD=
PROPOSAL_POSTGRES_USER=proposal
