PROJECT_NAME=govtool
REGISTRY_HOST=registry.sireto.io
POSTGRES_PASSWORD=

TEST_INFRA_POSTGRES_HOST=postgres
DBSYNC_POSTGRES_HOST=94.130.221.111
DBSYNC_POSTGRES_PORT=8433
DBSYNC_POSTGRES_USER=intersectmbo
DBSYNC_POSTGRES_PASSWORD=
DBSYNC_DATABASE=dbsync_mainnet


NPMRC_TOKEN=
SENTRY_DSN_FRONTEND=dummy_sentry
SENTRY_DSN_BACKEND=


CARDANO_NETWORK=mainnet


BASE_DOMAIN=govtool.cardanoapi.io
GOVTOOL_TAG=test
APP_ENV=development
VITE_NETWORK_FLAG=1
GTM_ID=dummy_gtm_id
PDF_API_URL=dummy_pdf_url
OUTCOMES_API_URL=dummy_outcomes_url
PROPOSAL_POSTGRES_DATABASE=proposal_pillar
PROPOSAL_POSTGRES_USER=proposal
PROPOSAL_POSTGRES_PASSWORD=
PROPOSAL_APP_KEYS=proposal_key_1,proposal_key_2,proposal_key_3,proposal_key_4
PROPOSAL_API_TOKEN_SALT=
PROPOSAL_ADMIN_JWT_SECRET=
PROPOSAL_TRANSFER_TOKEN_SALT=
PROPOSAL_JWT_SECRET=
PROPOSAL_SENTRY_DSN=
PROPOSAL_AWS_SES_KEY=
PROPOSAL_AWS_SES_SECRET=
PROPOSAL_AWS_SES_ENDPOINT=
PROPOSAL_AWS_SES_FROM=
PROPOSAL_AWS_SES_REPLYTO=
KUBER_API_KEY=
KUBER_API_URL_SANCHO=http://kuber:8081
IPFS_GATEWAY=https://ipfs.io/ipfs
PINATA_API_JWT=""
IPFS_PROJECT_ID=dummy_ipfs_projectId
USERSNAP_SPACE_API_KEY=dummy_usersnap
